<div class="social-share">
    <ul class="socialcount socialcount-small inline-list bdsharebuttonbox">
        <li><a href="#" class="bds_more" data-cmd="more"></a></li>
        <li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
        <li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></li>
        <li><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a></li>
        <li><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></li>
        <li><a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a></li>
        <li><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a></li>
        <li><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a></li>
        <li><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a></li>
        <li><a href="#" class="bds_mail" data-cmd="mail" title="分享到邮件分享"></a></li>
        <li><a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a></li>
        <li><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a></li>
        <li><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a></li>
    </ul>



    <!--<ul class="socialcount socialcount-small inline-list">
    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
    <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
    <li class="googleplus"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus-square"></i> +1</span></a></li>
  </ul>-->
</div><!-- /.social-share -->